.catalog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;

  background: url("../img/background.png") $default-color;

  &__container {
    margin: auto;
  }

  &__title {
    margin-bottom: 23px;

    text-align: center;
    font-family: "Exo2", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: $secondFontColor;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    width: 320px;
    margin: 0 10px;
    padding-bottom: 34px;

    &--selected {
      .catalog__content {
        border-color: $selected-color;

        &::before {
          border-bottom: 4px solid $selected-color;
        }

        &:hover,
        &:focus {
          border-color: $selected-hover-color;

          .catalog__size-container {
            background-color: $selected-hover-color;
          }
        }
      }

      .catalog__size-container {
        background-color: $selected-color;
      }
    }

    &--disabled {
      .catalog__content {
        border-color: $disabled-color;
        background-color: $disabled-light-color;

        &::before {
          border-bottom: 4px solid $disabled-color;
        }

        &:hover,
        &:focus {
          border-color: $disabled-color;

          .catalog__size-container {
            background-color: $disabled-color;
          }
        }
      }

      .catalog__caption-main,
      .catalog__name-container,
      .catalog__spec,
      .catalog__picture {
        opacity: 0.5;
        color: $disabled-color;
      }

      .catalog__size-container {
        background-color: $disabled-color;
      }

      .catalog__caption-additional {
        color: $warning-color;
      }
    }
  }

  &__content {
    clip-path: polygon(48px 0, 100% 0%, 100% 100%, 0 100%, 0 48px);
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    margin-bottom: 14px;
    padding: 17px 15px 286px 42px;
    min-height: 480px;

    border: 4px solid $border-base;
    border-radius: 12px;

    background-color: $secondFontColor;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      top: 15px;
      width: 75px;

      border-bottom: 4px solid $border-base;

      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      border-color: $border-light;

      .catalog__size-container {
        background-color: $border-light;
      }
    }
  }

  &__caption-main {
    margin-bottom: 4px;

    font-size: 16px;
  }

  &__name-container {
    margin-bottom: 12px;

    font-weight: bold;
    color: $primaryFontColor;
  }

  &__name-brand {
    font-size: 48px;
    line-height: 56px;
  }

  &__name-taste {
    font-size: 24px;
  }

  &__spec {
    font-size: 14px;
    line-height: 16px;
  }

  &__quantity {
    font-weight: bold;
  }

  &__size-container {
    position: absolute;
    right: 11px;
    bottom: 11px;
    padding: 9px;
    min-width: 80px;

    color: $secondFontColor;
    text-align: center;

    background-color: $border-base;

    border-radius: 50%;
  }

  &__size-value {
    font-size: 42px;
    line-height: 42px;
  }

  &__size-unit {
    font-size: 21px;
    line-height: 22px;
  }

  &__picture-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 271px;
  }

  &__picture {
    width: 372px;
    max-width: none;
    margin-left: -29px;
  }

  &__caption-additional {
    font-size: 13px;
    line-height: 16px;
    color: $secondFontColor;
    text-align: center;
  }

  &__buy {
    color: $border-base;

    border-bottom: 1px dashed $border-base;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}
