/* Vars:
  ========================================================================== */

// Font
$mainFont                : "Trebuchet MS", "Arial", sans-serif;
$mainFontColor           : #666666;
$secondFontColor         : #ffffff;
$primaryFontColor        : #000000;
$disabledFontColor       : #ffff66;

// Size
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.2;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #1b1b1b;
$warning-color           : #ffff66;
$selected-color          : #e62e7a;
$selected-hover-color    : #d91667;
$disabled-color          : #b3b3b3;
$disabled-light-color    : #f2f2f2;

// Border Color
$border-base             : #1698d9;
$border-light            : #2ea8e6;
